@import "../icon/icon.css";
@import "../button.css";
@import "../textarea.css";

.script-runner {
    display: flex;
    flex-direction: column;
    flex: 1;

    height: 100%;
    padding: 2rem;

    background: whitesmoke;
}

.script-runner .header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    margin-bottom: 2rem;
}

.script-runner .header h1 {
    margin: 0;

    font-size: 2rem;
    font-weight: bold;

    cursor: default;
}

.script-runner .header .status {
    height: 2rem;
    width: 2rem;

    margin-right: 1rem;

    border-radius: 25px;
}

.script-runner footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
}

.script-runner footer .button:not(:first-child) {
    margin-left: 1rem;
}
