@import "../animations.css";

.command {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;

    height: 60px;
    margin-bottom: 1.5rem;
    padding: 0 0 0 1rem;

    background: white;
    border-radius: 5px;
    border: 1px solid darkcyan;

    box-sizing: border-box;

    transition: background 0.15s ease-in-out;
    animation: fadeIn 0.5s ease-in-out;
}

.command:hover {
    background: #f1f1f1;
}

.command .left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.command .left .status {
    height: 25px;
    width: 25px;

    margin-right: 1rem;

    border-radius: 25px;
}

.success {
    background: darkcyan;
}

.running {
    background: gold;
    animation: blink 1s linear infinite;
}

.inactive {
    background: darkgray;
}

.command .left span {
    font-size: 1rem;
    font-weight: bold;
}

.command .middle {
    flex: 10;
}

.command .right {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;

    background: darkcyan;
    border-radius: 0 5px 5px 0;

    height: 100%;
}

.command .right .icon {
    font-size: 1.5rem;
    color: white;

    cursor: pointer;
    transition: color 0.1s ease-in-out;
}

.command .right .icon:not(:first-child) {
    margin-left: 1rem;
}

.command .right .icon:hover {
    color: #e6e6e6;
}
