@import "../button.css";
@import "../animations.css";

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;

    flex: 1;
    height: 100%;

    background: white;
}

main * {
    animation: fadeIn 0.5s ease-in-out;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    height: 5rem;
    width: 100%;

    padding: 0 2rem;

    box-sizing: border-box;

    animation: fadeIn 0.5s ease-in-out;
}

header button span:last-child {
    margin-left: 1rem;
}
