@import "../button.css";
@import "../animations.css";

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 1;

    height: 100%;

    background: white;
}

main * {
    animation: fadeIn 0.5s ease-in-out;
}

main header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 5rem;
    width: 100%;
    padding: 0 2rem;

    box-sizing: border-box;
}

main header .route {
    margin: 0;
    font-size: 1.75rem;
}

main header button span {
    margin: 0 !important;
}
