@import "../animations.css";

.navigation {
    width: 150px;
    padding: 0.75rem 1rem;

    background: darkcyan;
    border-radius: 0 5px 5px 0;

    overflow: hidden auto;
    opacity: 1;
    box-sizing: border-box;
    animation: fromLeft 0.5s ease-in-out,
    fadeIn 0.25 ease-in-out 0.25s;
}

.navigation .logo {
    font-family: 'press-start', sans-serif;
    text-align: center;
    color: white;

    cursor: pointer;
}

