@import "../input.css";
@import "../button.css";
@import "../textarea.css";

.script-editor {
    display: flex;
    flex-direction: column;
    flex: 1;

    height: 100%;
    padding: 2rem;

    background: whitesmoke;
}

.script-editor .title {
    margin-bottom: 2rem;
}

.script-editor .controls {
    display: flex;
    justify-content: flex-end;

    margin-top: 2rem;
}

.script-editor .controls .button:not(:first-child) {
    margin-left: 1rem;
}
