@import "../animations.css";
@import "../status.css";
@import "../icon/icon.css";

.script-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;

    height: 60px;
    margin-bottom: 1.5rem;
    padding: 0 0 0 1rem;

    background: white;

    border-radius: 5px;

    box-sizing: border-box;

    transition: background 0.15s ease-in-out;
    animation: fadeIn 0.5s ease-in-out;
}

.script-item:hover {
    background: rgba(0, 139, 139, 0.1);
}

.script-item .left, .middle, .right {
    display: flex;
    align-items: center;

    height: 100%;
}

.script-item .left, .middle {
    cursor: pointer;
}

.script-item .left {
    flex: 1;
    justify-content: center;
}

.script-item .left .status {
    height: 25px;
    width: 25px;

    margin-right: 1rem;

    border-radius: 25px;
}

.script-item .left span {
    font-size: 1rem;
    font-weight: bold;
}

.script-item .middle {
    flex: 10;

    color: darkslategrey;
    font-weight: bold;
}

.script-item .right {
    justify-content: center;
    flex: 1;

    height: 100%;
    padding: 0 0.5rem;

    border-radius: 0 5px 5px 0;

    background: darkcyan;
}

.script-item .right .icon {
    color: white;
}
